@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */

body {
  font-family: 'Futura', 'Inter', 'Montserrat', 'DM Sans', 'Poppins', 'Segoe UI', 'Roboto', 'Arial', sans-serif;
  background-color: #0a0a12;
  /* Matches theme('colors.background') */
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}